<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-s">
    <a class="navbar-brand" href="#">MAMAD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" data-url="/" href="/">Hall <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-url="/about" href="/about">about-us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-url="/contact" href="/contact">contact-us</a>
            </li>
        </ul>
    </div>
</nav>
